
<!-- app/views/customers/_customer.html.erb -->

<div class="customer-card">
<%= stylesheet_link_tag 'customers', media: 'all', 'data-turbolinks-track': 'reload' %>


  <div class="customer-info">
    <% if customer.image.attached? %>
      <%= image_tag url_for(customer.image), class: "customer-image" %>
    <% else %>
      <span class="customer-placeholder-image">No image available</span>
    <% end %>

    <h3 class="customer-name"><%= customer.full_name %></h3>
    
    <p class="customer-email"><%= customer.email_address %></p>
    <p class="customer-notes"><%= customer.notes %></p>
  </div>
</div>

